<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeternakanApps"
        tools:targetApi="31">
        <activity
            android:name=".ui.menu.profile.LihatProfile"
            android:exported="false" />
        <activity
            android:name=".ui.menu.profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.barang.AddBarang"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.barang.BarangList"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.penjualan.AddPenjualan"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.penjualan.PenjualanList"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.pakan.AddPakan"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.pakan.PakanList"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.hewan.AddHewan"
            android:exported="false" />
        <activity
            android:name=".ui.menu.home.hewan.HewanList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_list_hewan"
            android:theme="@style/Theme.PeternakanApps.Fullscreen" />
        <activity
            android:name=".ui.menu.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.Register"
            android:exported="false" />
        <activity
            android:name=".ui.login.Load"
            android:exported="false" />
        <activity
            android:name=".ui.login.Login"
            android:exported="false" />
        <activity
            android:name=".ui.login.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>